<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Al-Karrar Engineering Company - Blog Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://lh3.google.com/u/0/d/1iRAbl_0gytmDgimzRhm16i-o8ypmxLdA=w958-h911-iv1" rel="icon">
  <link href="https://lh3.google.com/u/0/d/1iRAbl_0gytmDgimzRhm16i-o8ypmxLdA=w958-h911-iv1" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/img/logo.png" alt=""> -->
        <h1>Al-Karrar Engineering<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center"
      style="background-image: url('https://lh3.google.com/u/0/d/1Cs5yIDaNV-svpPEGtpzgM4KiCC02s5Ja=w1920-h937-iv1');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Accounting Policies Procedures Manual</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Accounting Policies Procedures Manual</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <iframe src="https://drive.google.com/file/d/14G92Yqv9qSL8OKcwXVxX2xXVStLGjvl6/preview" width="100%"
                  height="480" allow="autoplay"></iframe>
              </div>
              <h2 class="title">ACCOUNTING POLICIES & PROCEDURES MANUAL</h2>
              <div class="content">
                <p><b>1. INTRODUCTION</b><br><br>
                  Al Karrar Engineering Company for General Contracting Ltd. (“Al Karrar Engineering Company”)
                  is committed to conducting its business ethically and in compliance with applicable regulations and
                  laws related to preparing accounting transactions and adopting policies that build on transparency in
                  managing all financial transactions.<br><br>
                  The purpose of the Accounts Manual is to describe the functions of the finance & accounts
                  Department, its principles, systems and procedures for the company so as to ensure compliance
                  with regulatory and also to provide guidance to the staff of the Accounts department on the systems
                  and procedures described here, considering the existing operations and practices developed over a
                  period of time.<br><br>
                  The main purpose of compiling this manual is to ensure that financial statements are in conformity
                  with Iraqi Accounting System principles, that finances are managed with responsible stewardship
                  and Company’s assets are safeguarded. All personnel with a role in the management of Al Karrar
                  Engineering Company fiscal operations are expected to uphold the policies pointed out in this
                  manual. It is the intention of the Company that this manual shall serve as our commitment to proper,
                  accurate financial management and reporting.<br><br>
                  The main objectives that AL Karrar company intend to reach after implementing the manual are:<br><br>
                  i. Providing cost and financial information that allows the measurement of performance against
                  strategic objectives.<br>
                  ii. Supporting decision making at all levels of the Al Karrar Company.<br>
                  iii. Providing stewardship for the resources at the disposal of the Al Karrar Company.<br>
                  iv. Managing the Al Karrar Company’s finances, financial and material assets.<br>
                  v. Fixing responsibility and accountability in the financial administration of the Al Karrar
                  Company.<br>
                  vi. Achieving standardized and uniform operations in financial management, and accounting of the
                  Al Karrar Company.<br><br>
                  <b>2. General Implementation Rules</b><br><br>
                  Financial/accounting policies, in principle, set out responsibilities, powers, limits and prohibitions
                  while financial/accounting procedures detail the mechanisms in place to support these policies.<br>
                  Financial/accounting policies are required to provide assurance that there is a permanent record of
                  the rules and accountability for money and other resources. Financial/accounting policies should
                  also codify good practice. The financial/accounting policies stipulated in this manual apply to
                  various
                  parts of Al Karrar Company. The policies and procedures presented here are not intended to cover
                  every possible situation and it is important that appropriate advice is sought in case of doubt. Also,
                  where amendments prove to be necessary these will be incorporated into the policies and
                  procedures. It is the responsibility of the CEO of Al Karrar Company to insure that the company’s
                  financial/accounting policies and procedures are observed throughout their units/departments and to
                  this end take appropriate care concerning the financial implications of their decisions. In case of
                  doubt, financial advice and information should be sought from the appropriate unit/party of the
                  company. Any failure to comply with the financial/accounting policies and procedures, which results
                  in a loss to the Al Karrar Company, maybe a ground for an action for damages against the person(s)
                  or parties responsible.<br><br>
                  <b>3. Chart of Accounts</b><br><br>
                  The chart of accounts provides the framework within which the accounting records are constructed.
                  It is defined as a list of general ledger accounts consisting of real and nominal accounts. The
                  descriptions of all the accounts and the instructions as to when these are to be debited and credited
                  are provided to achieve uniformity in the recording of financial transactions. It is the policy of
                  EFFORT/Companies that:<br><br>
                  i. All transactions are classified and recorded in books under the appropriate categories.<br>
                  ii. Any changes to the chart of accounts are documented and approved by the Chief Financial
                  Officer;<br>
                  iii. There is a regular review of the chart of accounts to ensure that all reporting requirements are
                  being met.<br><br>
                  <b>4. Accounting Method</b><br><br>
                  The company use accrual basis of accounting as accounting method. It recognizes revenues in the
                  period in which it is earned and it recognizes expenses in the period in which it is incurred. The
                  fiscal
                  period for the Al Karrar company is January 1 up to December 31.<br><br>
                  <b>5. Books of Original Entry</b><br><br>
                  Each business transaction must originally be recorded in a journal known as the book of original
                  entry. The diary is a daily chronological record of all company transactions. The information on each
                  transaction to be submitted should include the date, account name, and amount as an increase or
                  decrease. The company intends to replace its current manual system with an ERP system. The
                  system implementation will alter the order of recording transactions based on the kind of
                  transaction.<br>
                  If the transaction involves the purchase, sale, or inventory, it must be recorded in the module
                  associated with this transaction. If the transaction pertains to a different issue, it will be
                  recorded as a
                  journal entry.<br><br>
                  <b>6. Accountability and Responsibility</b><br><br>
                  It is to be noted that under no circumstances will individuals be permitted to add or delete units of
                  accounts without obtaining prior approval from the CFO. The CEO of the company shall be
                  responsible for the effective implementation of this manual.<br><br>
                  <b>7. Assets</b><br><br>
                  Assets are economic resources, which are owned by Al Karrar Company and are expected to benefit
                  future operations of a business. Assets may have a definitive physical form such as buildings,
                  machinery, or stock. On the other hand, some assets exist in no physical or tangible form, but in the
                  form of valuable legal claims or rights such as amounts due from customers. Specific accounting
                  methods should be followed to account for these resources.<br><br>
                  <b>7.1. Cash and Bank Balances</b><br><br>
                  This financial management policy contains guidelines and standards where necessary for sound
                  management of liquid assets. Cash and bank include currency, coins, and amounts on deposit in
                  bank accounts. Cash and bank is an important assets for every company and must be managed
                  properly. Cash and bank could be easily misappropriated due to their light weight and ease of
                  transferability. Therefore, Al Karrar Company employed to control access to cash by employees and
                  others who are sometimes inclined to take it for personal use. A good system of internal control for
                  cash and bank provides adequate procedures for protecting both cash receipts and
                  disbursements.<br><br>
                  The objectives of cash and bank policies are as follows:<br><br>
                  i. Protecting Al Karrar Company against loss (banking failure, foreign exchange loss, theft,
                  misuse of funds)<br>
                  ii. Availing optimal liquidity for operations<br>
                  iii. Providing guidance for opening of bank accounts<br>
                  iv. Establishing the policy and procedures of appointing bank signatories<br>
                  v. Establishing responsibilities of signing checks and authorizing bank transfers<br>
                  vi. Establishing the policy and procedures of preparing bank reconciliations<br>
                  vii. Establishing responsibilities for preparing and reviewing bank reconciliations Cognizant of these
                  facts, the following general and account-specific policies and procedures have been developed
                  by Al Karrar Company<br><br>
                  <b>7.2.Petty Cash</b><br><br>
                  i. The petty cash fund shall be operated by a specific person [petty cashier] assigned by the
                  General manager in consultation with CFO.<br>
                  ii. The petty cash fund will be established at the project
                  level with the approval of the General Manager.<br>
                  iii. The petty cash fund should be used under the conditions where
                  there is an urgent need to purchase items/services and the amount
                  involved is too small to justify the use of checks.<br>
                  iv. Petty cash should not be used to purchase items where the formal
                  company purchase procedures are feasible.<br>
                  v. Petty cash should be kept on the system whereby the Petty
                  The cashier always maintains a fixed amount represented either by cash
                  or receipts/vouchers.<br>
                  vi. The amount of the petty cash should be up to 10,000,000 IQD which shall be raised depending
                  on the volume of payment and nature of business by informing corporate Finance. However,
                  the amount of cash should be raised upon the approval of the CFO depending on cash
                  expenses.<br>
                  vii. There should always be an initiating document for the preparation of petty cash vouchers,
                  which must be authorized by the CFO or other delegated persons. The recipient, for whom
                  payment is made out of petty cash, should sign the petty cash payment voucher.<br>
                  viii. Petty cashiers should not have access to the accounting records or cheque book other than
                  petty cash vouchers, request forms, and petty cash summary sheets.<br>
                  ix. Petty cash voucher with supporting documents must be stamped
                  PAID” at the time of payment.<br>
                  x. A petty cash shall be replenished before it is completely exhausted.
                  Generally, the fund shall be replenished when 75% of it is used. <br>
                  xi. The petty cashier shall comply with all rules and regulations of cash
                  service.<br>
                  xii. Any advance taken from the petty cash shall be cleared within one month.<br><br>
                  <b>7.3. Cash at Bank</b><br><br>
                  Cash at Bank includes all cash balances in the Bank account opened in the name of Company. Any
                  payment to be made from this account will be affected using checks or bank transfer instructions.
                  Proper accounting policies and procedures are essential for this account so as to protect the
                  misappropriation of cash in the bank.<br><br>
                  i. Authority for the opening or closing of bank accounts, appointments or removals of signatory
                  status shall be vested to the CEO and General Manager. The bank accounts will be held with
                  reputable and financially sound financial institutions.<br>
                  ii. The General Manager is vested with the discretionary right to order on the use of company
                  money.<br>
                  iii. One signature is required on all checks issued and this is restricted to General Manager or a
                  person authorized by him.
                  iv. Every check must be accompanied by a payment voucher and should be based on supporting
                  documents giving authority for writing a check.<br>
                  v. Checks received must be endorsed for deposit only.<br>
                  vi. The company must ensure that unused checks are received from banks only by authorized
                  persons.<br>
                  vii. Unused check pads must be kept with CFO and should be issued according to their sequence to
                  the designated person after signing on the check control book. Before the issuance of new pads,
                  the used pads should be verified for the total use of the check leaves.<br>
                  viii. Bank Payment Vouchers should be used in sequential number order.<br>
                  ix. Spoiled, incorrectly filled, cancelled checks must be “void” and kept pinned to the check
                  stub.<br>
                  x. Blank checks should not be signed and left at the disposal of other people.<br>
                  xi. No check shall be prepared unless the company makes sure that sufficient cash is available in
                  the bank.<br>
                  xii. Checks may be prepared in the name of the company authorized person based on General
                  Manager approval.<br>
                  xiii. Any signed check if not collected/cashed by the payee within six months shall be made void.<br>
                  xiv. Missing cheque books or leaf/leaves shall be reported to the bank immediately quoting the serial
                  number of the missing checks and requesting for “STOP PAYMENT” order.<br>
                  xv. Cheque books shall be requested from the bank when at least one cheque book remains on
                  hand.<br>
                  xvi. A bank payment voucher is required before the issuance of a check.<br>
                  xvii. The bank payment voucher should be approved by the designated official to effect payments.
                  <br><br>
                  <b>7.4. Accounts Receivables</b><br><br>
                  Accounts receivables are defined as claims held against credit customers and others for the future
                  receipts of money. Most of the company's receivables will result from contracts completed and paid
                  for after the specified payment period.<br><br>
                  i. The company, after assessing the nature of the industry, and existing competition and
                  considering level of income of customers, shall develop its own credit policy.<br>
                  ii. The credit policy shall include guidelines on screening credit customers, credit approval
                  procedures, specification of the credit period any cash and trade discounts to be allowed,
                  collection procedures and penalties for delayed payments or risk accounts.<br>
                  iii. The credit control, delivery and invoicing function should be separate from one another and
                  from the accounts recording.<br>
                  iv. On the basis of the credit sales invoice, customer’s purchase order and delivery order note the
                  customer should be invoiced immediately. On the ledger card, the invoice number should be
                  indicated and recording several invoices in one entry is strictly forbidden. However, a summary
                  of details can be prepared for posting the total to the control ledger and details to the subsidiary
                  ledger.<br>
                  v. Upon receiving a copy of the invoice, accounts shall check that the information listed above is
                  duly completed. If there is missing information, persons in charge should be required to furnish
                  the pertinent data.<br>
                  vi. The company must ensure that a statement of accounts on outstanding debts and receivables
                  are prepared and sent to customers at the end of every month for confirmation.<br>
                  vii. When settlement is made by depositing in the company bank account, the following information
                  shall be obtained from the customer upon receiving the bank advice or deposit slip [to which
                  purchase order, delivery order and invoice number the settlement is made].<br>
                  viii. If a partial settlement is made advice client in writing, indicating the invoice is partially
                  settled
                  [short payment]. A copy of the letter should be attached with the receipt or bank advice note.<br>
                  ix. Analysis of outstanding receivables by age will have to be prepared for management use, i.e.
                  status of collection should be reported to management every month in reverse date order.
                  x. When a dispute regarding invoice settlement arises, it should be reported to management for
                  immediate action. Note that delay in reporting the matter on time entails complications of
                  matters arising from the change of personnel.<br>
                  xi. All accounts receivable at the end of each fiscal year should be reconciled and confirmed.<br>
                  xii. Legal action will have to be taken on debtors who failed to pay their debt on time in line with
                  the
                  delegation of authority procedure.<br>
                  xiii. All bad debts that prove uncollectable shall be written off in line with the delegation of
                  authority.<br>
                  xiv. When services are delivered to a customer a credit sales invoice shall be prepared, and
                  accounted for accordingly.<br>
                  xv. Based on the credit invoice, the general accounts section will record the total money claims
                  from the customer. The sales register will be used to debit the receivable account and credit the
                  sales account.<br>
                  xvi. On the basis of the credit invoice, the general ledger account – trade debtors “accounts
                  receivable” and subsidiary ledger identified by name and I.D of credit customer is debited and
                  contra entry will be credited to sales account.<br>
                  xvii. When settlement is made through a bank, indicate the purchase order, delivery order note
                  number and invoice number on the credit advice or deposit slip.<br>
                  xviii. Based on the duly completed cash receipt, deposit slip or bank credit advice accounts shall be
                  posted to the ledger by indicating “in settlement of invoice No. _____”.<br>
                  xix. Every settlement of invoice should be traced as to which invoice is settled before posting to
                  ledger.<br><br>
                  <b>7.5. Stock</b><br><br>
                  Stock is defined as follows:<br>
                  Inventories are assets: In the form of materials or supplies to be consumed in the rendering of
                  services.<br>
                  Accounting for stock affects both the balance sheet and the income statement. The major role in
                  accounting for the stock is matching the relevant costs against the related revenues. The monetary
                  control aspect also requires the instalment of proper accounting policies and procedures.<br><br>
                  i. Perpetual inventory system should be used for all stock items. At the end of each fiscal period,
                  all items should be counted.<br>
                  ii. The perpetual inventory system demands a more frequent count of fast-moving items and less
                  frequent for slow-moving or dead items. There should be an annually prepared management
                  program of perpetual inventory count.<br>
                  iii. The store or appropriate unit shall prepare a pre-numbered purchase requisition. Any purchase
                  could be initiated by the store or end-user department but must be filled in the purchase
                  requisition and approved by an authorized person.<br>
                  iv. Before taking any action, verification has to be made whether the purchase request is within the
                  budget of the requesting department and whether the item is not in store.<br>
                  v. All items purchased shall be delivered to the store against receiving the report.<br>
                  vi. Deliveries from the stores shall be made against authorized store’s requisition copy, stores
                  issue vouchers, and delivery orders.<br>
                  vii. Physical count shall be made at least once a year and persons other than the storekeeper
                  should take the count.<br>
                  viii. Physical items actually on hand should represent the quantity shown as the stock record in the
                  system.<br>
                  ix. Valuation of stock items shall be made on the basis of the moving Average method.<br>
                  x. Storekeepers must not have access to the accounts and stores recording. However, they
                  should be available for a possible explanation as the inventory count requests them.<br>
                  xi. Store section checks the items with the listings on the purchase order.<br>
                  xii. If the quantity and type of items received agrees with the purchase order, a receiving voucher
                  shall be prepared.<br>
                  xiii. A receiving report copy is sent along with the suppliers’ invoice to the finance department.<br>
                  xiv. The finance department must maintain stock cards in quantity and value for all items of financial
                  inventory, categorized by type in the electronic system.<br>
                  xv. Goods received notes must be valued immediately by the cost accountant from the purchase
                  invoices in the case of local purchases or the costing sheets in the case of import purchases.<br>
                  xvi. Once the cost is determined, goods received notes will be recorded on the stock record cards in
                  quantity and value, a new average cost being computed in the occasion of each purchase.<br>
                  xvii. Store issue vouchers will be recorded in quantity and value on the stock record cards in the
                  system.<br><br>
                  <b>7.6. Fixed Assets</b><br><br>
                  These assets represent tangible assets that are used in the operations of a company and have a
                  useful life of more than one accounting period. They make up a large part of assets on the balance
                  sheet and they yield a depreciation that could be the largest expense on the income statement. They
                  also affect the cash flow statement when cash is spent to acquire them or cash is received from their
                  sale. They represent a capital expenditure. Capital expenditure is important because they impact on
                  both the short-term and long-term success of a company.<br><br>
                  i. Fixed assets shall be composed of those assets, fixed or movable, whose expected
                  economic/legal life is greater than one year with acquisition cost greater than or equal to 5000
                  USD and that the asset is to provide service to the company and not for sale.<br>
                  ii. All expenditures on the acquisition of fixed assets of 5000 USD and above shall be capitalized
                  and those costing less than 5000 USD shall be classified as revenue expenditure and shall be
                  recorded as expenses.<br>
                  iii. All acquired and constructed fixed assets shall be recorded at cost. The cost shall include all
                  necessary and reasonable costs incurred to make ready the fixed asset available for use in the
                  normal operation of the company.<br>
                  iv. Costs incurred subsequent to the purchase of fixed assets for the purpose of major
                  improvements, increase in capacity, change in structure, extensions, plant modernization etc.
                  and which have the effect of prolonging the economic life or increasing efficiency and
                  effectiveness of such fixed assets as proved by the technical expert of the company, shall be
                  capitalized.<br>
                  v. Purchase of fixed assets and properties or expenditures on major repairs must have been
                  approved through the annual budget for capital expenditure<br>
                  vi. Annual physical counts of all fixed assets and properties must be conducted and such counts
                  shall be reconciled with the records maintained for the fixed asset.<br>
                  vii. Fixed assets or properties purchased for use by the company must not be sold unless it has
                  been officially confirmed that neither the company nor any projects can put the item to any
                  better use. Such sales require the approval of the General Manager.<br>
                  viii. Gain or loss on disposal of fixed assets shall be accounted for in the fiscal period during
                  which
                  the disposal took place.<br>
                  ix. Any transfer of fixed assets from one sister company to another shall be made on mutual
                  consent of the respective General Managers and the approval of CEO.<br>
                  x. Where a fixed asset has been replaced by a new one, due to old age, management must
                  ensure that the item replaced has been disposed of in view of the exorbitantly high
                  maintenance and running costs, especially where replacement was sought on the grounds of
                  running and maintenance costs.<br>
                  xi. Where fixed assets are constructed over a period of time, or machinery is in transit or under
                  installation, the total cost shall be charged to work in progress accounts or machinery in transit
                  accounts, until such time that the item is complete and becomes operational.<br>
                  xii. Ownership certificates, title deeds and registration booklets for fixed assets must be kept in
                  the
                  General Manager’s Office or delegated person for such activity.<br>
                  xiii. Fixed assets shall appear in the balance sheet at their value of origin or if they have been
                  revalued at their revaluation value.<br>
                  xiv. All fixed assets must be coded and identified with specific I.D No. in the fixed asset register.
                  The register shall show the history of the asset. It shall contain information such as the
                  description of the asset, I.D. No., date of purchase, serial number, acquisition cost, supplier’s
                  address, location, depreciation to date, expected date of disposal or retirement, etc.<br>
                  xv. Fixed asset register shall be reconciled and agreed with the financial accounting records.<br>
                  xvi. All fixed assets shall be depreciated as per the deprecation schedule adopted by Iraqi law.<br>
                  xvii. Adopted safeguards over assets must be provided. No fixed assets shall leave the premises
                  without proper approval.<br>
                  xviii. All fixed assets should be attached to each user and should be reconciled with the annual
                  physical count of fixed assets<br>
                  xix. When a fixed asset is purchased the cost shall be debited to the fixed asset account with a
                  contra - entry either to the bank or payable account.<br>
                  xx. A fixed asset register book must be maintained by the accounting department, which among
                  others should have the following columns, Date, Reference, Particulars, Manufacturer/Supplies
                  brand name, Location, I.D. number, Date of acquisition, Cost/addition, Depreciation for the
                  year/year to date, Book value, etc. The company should move to use asset management
                  information system.<br>
                  xxi. The company should adopt a systematic coding system.<br><br>
                  <b>7.7. Provision for Depreciation & Amortization</b><br><br>
                  Depreciation is the process of allocating the cost of a fixed asset to expense in the accounting
                  periods benefiting from its use.<br><br>
                  i. Depreciation of fixed assets shall be calculated every year and based on:<br><br>
                  o The nature and situation of the asset<br>
                  o The original cost of the asset<br>
                  o The expected useful life of the asset and<br>
                  o The estimated residual value as a result of scrapping or disposing of the asset<br>
                  ii. The rates that identified by Iraqi law should be used for calculation the depreciation.<br>
                  iii. The depreciation base shall be the book value of the category as recorded in the balance sheet
                  <br><br>
                  <b>7.8. Trade Creditors</b><br><br>
                  Trade creditors represent amounts owed to suppliers for products or services purchased on credit.
                  Creditors could be a good source of financing since they do not charge explicit financing costs
                  [interest]. Creditors also contribute positively to the smooth operations of a company. Trade
                  creditors
                  are usually composed of short-term payables. Proper accounting policies and procedures are
                  essential for this account.<br><br>
                  i. Deleted and cancelled credit invoices should not be accepted as genuine documents to
                  recognize trade creditors.<br>
                  ii. Invoices should be considered for payment only if it is accompanied by proper supporting
                  documents such as goods receiving notes, purchase order and other relevant documents.<br>
                  iii. The payment voucher and the check should be prepared in the name of the creditor mentioned
                  in the credit invoice and other documents.<br>
                  iv. On receipt of the supplier’s credit invoice, general accounts compare the invoice with the goods
                  received the note and the purchase order as to arithmetical accuracy, quantity ordered and
                  received, unit price agreed upon and charged, terms of payment etc.<br>
                  v. On the basis of the credit invoice and the supporting documents, the proper inventory account
                  or other relevant accounts will be debited and the creditor’s account will be credited.<br>
                  vi. When payments are effected, the amount on the payment voucher will be recorded in the
                  journal voucher or to the ledger account as a debit to the creditors’ account and as a credit to
                  the cash and purchase discount account, if any.<br>
                  vii. Subsidiary ledger will be kept for each supplier so as to analyze the amount owed to a specific
                  creditor.<br>
                  viii. Any debit balance appearing in the subsidiary ledger shall be investigated for the cause and if
                  the cause is due to overpayment, the balance shall be treated as a current asset when
                  preparing the balance sheet.<br><br>
                  <b>7.9. Unclaimed Salaries and Wages</b><br><br>
                  It could be possible that employees may not collect their salaries and wages during the payday
                  period for different reasons. Such unclaimed wages and salaries should be properly accounted for
                  until they are claimed.<br><br>
                  i. Withholding of salaries and wages should be made upon proper written authorization only. This
                  does not apply to employees who are out on duty.<br>
                  ii. When an employee has not reported to the cashier to receive his salary during the stipulated
                  payday period, the unclaimed salary amount will be re-deposited in the bank.<br>
                  iii. The entry required to record the liability is to credit to employee’s individual account
                  unclaimed
                  and withheld salaries and wages and debit the cash in bank account.<br>
                  iv. Upon payment of the amounts withheld and unclaimed to the employees, unclaimed and
                  withheld wages and salaries are debited and cash at bank is credited.<br>
                  v. Before effecting payment the person in charge is required to check as to whether an advance
                  has been taken by the employee in other projects.<br><br>
                  <b>8. Sales</b><br><br>
                  This account represents all revenues that are generated from sales services. All company sales are
                  on a credit basis. Under the accrual basis of accounting, revenues will be recognized on the date it
                  is
                  realized. In the case of sales, the date of sales will be the point of revenue recognition.<br><br>
                  i. Pre-numbered sales invoices prepared by the sales office will be evidence of the sales
                  transaction.<br>
                  ii. Credit sales should be made only to specific customers subject to credit limit against the
                  official
                  purchase order received.<br>
                  iii. Delivery of services will normally be made on pre-numbered delivery orders or invoices
                  prepared by the sales department and approved by the responsible official and signed by the
                  customer.<br>
                  iv. Sales invoices and delivery orders must be issued in strict numerical Sequence. When delivery
                  orders are prepared they should be cross-referenced to sales invoices.<br>
                  v. Sales invoices should be checked for correctness of selling prices and arithmetical accuracy.<br>
                  vi. Where an error has been noted on an invoice, any undercharge or overcharge is
                  recorded/accounted.<br>
                  vii. Sales analysis is prepared by the accounts clerk and summarized.<br>
                  viii. After the sales analysis is prepared a summarized journal voucher will be prepared to recognize
                  the sales in the books of the company.<br><br>
                  <b>9. Cost of Sales</b><br><br>
                  The cost of sales accounts represents the cost of services delivered to customers. The account may
                  have a subsidiary ledger classified by the type of goods sold. However, it is not mandatory to have
                  the separate cost of goods sold accounts for cash and credit sales.<br><br>
                  i. Cost of goods sold accounts will be debited with a summary of all direct expenses incurred due
                  to the work implemented such as (direct salaries, Direct material etc. ..)<br>
                  ii. Cost of goods sold should be shown as one figure in the profit and loss account, the make up
                  being disclosed in a separate note.<br><br>
                  <b> 9.1. Payroll Fund</b><br><br>
                  Understanding payroll procedures and keeping adequate payroll reports and records is essential to a
                  company’s success. The payroll fund is a fund used for the payment of salaries, overtime on a
                  monthly basis. Proper accounting policy and procedure is required to handle this fund effectively and
                  efficiently.<br><br>
                  i. An effective salaries administration requires the establishment of sound internal control in the
                  whole process of payroll preparation. Thus the process of payroll preparation must be spread
                  so that no one person is responsible for all the functions of salary preparation and payment.<br>
                  ii. The HR department must arrange for the submission of the relevant data to accounts a number
                  of days ahead of the actual payday, including properly recorded timecards, attendance sheets,
                  list of absenteeism, overtime worked as properly authorized, increase in pay if any, and such
                  other relevant data essential for the preparation of payroll.<br>
                  iii. Other standing information such as rate of pay, allowances, etc. shall be made available to the
                  accounts at the time of employees’ engagement.
                  iv. All deductions from the gross salaries of any employee must be statutory, administrative and/or
                  to which he/she had given his/her consent in writing.<br>
                  v. It is essential that a system of periodic staff rotation be adopted in respect of personnel
                  engaged in the preparation of payroll.<br>
                  vi. Payroll must be authorized and approved by officials designated to approve the salaries, after
                  checking the accuracy, correctness and completeness of names, date of pay, allowance,
                  overtime calculations, deductions, additions, etc.<br>
                  vii. Payment of salaries and wages should be made to the employee or to his representative when
                  authorized by the employee in writing.<br>
                  viii. Salaries not claimed within seven days from the effective payday must be deposited to the bank
                  as unclaimed salaries to be paid later upon written request and approval of the CFO.<br>
                  ix. Suspense vouchers not cleared during the payday should be deducted from the pay of the
                  employee and the suspense voucher returned to the employee.<br>
                  x. Payroll reconciliation should be done at the end of every month before payment of salary is
                  made.<br><br>
                  <b>10. General Administrative Expenses</b><br><br>
                  These are expenses incurred in the general administration of the company while conducting the
                  business as a whole. This group of expenses includes all expenses that support the overall
                  operations of a business, such as providing accounting services, human resource management, and
                  financial management. These expenses are not directly traceable to main activities of the company
                  such as project execution it is unrealistic to include administrative expenses as part of the cost of
                  sales. It is important to ensure that such expenses are properly accounted for. Those expenses
                  should be allocated by projects depend on the project full amount.<br>
                  The following types of expenditure are partly treated as administrative expenses.<br><br>
                  <b>10.1. Daily Allowance for Business Trip</b><br><br>
                  i. As per the Human Resource Manual, daily allowance shall be given to an employee on a
                  business trip.<br>
                  ii. There shall be a daily allowance request form to be filled in by an employee and shall state the
                  number of days he will be staying on business trip, and proper authority shall approve the
                  purpose of the trip.<br>
                  iii. Every employee after completing and returning from his business trip shall clear his account
                  within seven days from his date of return.<br><br>
                  <b>10.2. Overtime for Admin Staff</b><br><br>
                  Performance related pay, instead of overtime pay, is the preferred practice.
                  i. All employees who are administrated under the labor law of the country are eligible for overtime
                  and can earn overtime payment.<br>
                  ii. All overtime worked must be approved in advance by the General Manager/Deputy General
                  Manager. This request shall be in writing.<br>
                  iii. Whenever feasible, efforts should be made to avoid overtime by adjusting the employees’ work
                  hours within the same work week. Employees should make arrangements with their supervisor
                  to leave early or arrive late in order to avoid overtime.<br>
                </p>
              </div><!-- End post content -->
            </article><!-- End blog post -->
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">All Policies</h3>
                <div class="mt-3">
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/13QPePlAYukBckA5mumRYdcxS5pCNu7XH=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="1.html">Commitment Statement</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item mt-3">
                    <img src="https://lh3.google.com/u/0/d/1DfvlgzLFXQpKELUhPElLHyTgyYtJ8f_c=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="2.html">Employee Code of Conduct</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/19BwSCU0h1P2eAsGA6A3H1aLNbCQBJsvU=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="3.html">Environmental</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1zs2wm5jpGt7LPr6S328LQ2gIIau2q1Fk=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="4.html">HSE Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1PNKpPPz2UlTAcs7O0H9RsDqnhrDZsiyk=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="5.html">Smoking Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/12bKJzJzCKhctHJUeQH_MzfzkjQpmuobo=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="6.html">Substance Abuse Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/129WxE_IjX9OFRjXdZs0zIZnQaNB0sOua=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="7.html">Drug Alcohol Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1HB7kJoFRo3D5qLtVCE6-nnXwYCtrB8B7=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="8.html">Safe Driving Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1gdqfZ7wR0U-_F4nrxHRYUOTPeZDJeL8R=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="9.html">Business Travel Expense Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/12ccRMUNL1AmjT493p4Fp0e6xf5iqUs7R=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="10.html">Accounting Policies Procedures Manual</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1HmLuAh-q1nkIF-Dg9150wzYz0uzQ_D5x=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="11.html">Anti Bribery Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1c7HWEkCaqs0NtmaS17cqasWi6XQADFCf=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="12.html">Anti Money Laundering Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1iohYTspJ2j3in6PaiK4FaNj1OnsiE51A=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="13.html">Whistle Blowing Policy Abstract</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1Pm-eQnaPhHoNSgmU8ChyN13_Ya-ELu1y=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="14.html">Whistle Blowing Policy Description</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1fUGUSVJTCTcRIf3unLG43ePQ5581ZuHS=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="15.html">Procurement Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1RdVNCTub1hOxNVmVa5lKMmglFs7U7pjo=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="16.html">Quality Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                </div>
              </div><!-- End sidebar recent posts-->
            </div><!-- End Blog Sidebar -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Al-Karrar Engineering</h3>
            </div>
          </div><!-- End footer info column-->
          <div class="col-lg-2 col-md-6">
            <p>Iraq Basra, North Rumaila</p>
          </div>
          <div class="col-lg-2 col-md-6">
            <p><strong>Phone:</strong> +964 783 441 0344</p>
          </div>
          <div class="col-lg-2 col-md-6">
            <p><strong>Email:</strong> info@alkarrareng.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Al-Karrar Engineering</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://t.me/ssssys">Ali walaa</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>