<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Al-Karrar Engineering Company - Blog Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://lh3.google.com/u/0/d/1iRAbl_0gytmDgimzRhm16i-o8ypmxLdA=w958-h911-iv1" rel="icon">
  <link href="https://lh3.google.com/u/0/d/1iRAbl_0gytmDgimzRhm16i-o8ypmxLdA=w958-h911-iv1" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/img/logo.png" alt=""> -->
        <h1>Al-Karrar Engineering<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center"
      style="background-image: url('https://lh3.google.com/u/0/d/1Cs5yIDaNV-svpPEGtpzgM4KiCC02s5Ja=w1920-h937-iv1');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Procurement Policy</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Procurement Policy</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <iframe src="https://drive.google.com/file/d/13vV2BomygTMVzzreoSixn84J0NTbcfsG/preview" width="100%" height="480" allow="autoplay"></iframe>              </div>
              <h2 class="title">PROCUREMENT POLICY</h2>
              <div class="content">
                <p><b>1. PROCUREMENT OF GOODS</b><br><br>
                  <b>PURPOSE OF PROCUREMENT</b><br>
                  The overall purpose of procurement regulations is to ensure that Al Karrar Engineering Co gets the
                  highest quality of desired goods and services at the best price possible. Further, the regulations are
                  aimed at streamlining the process of procurement while maintaining adequate controls. These
                  procurement procedures apply to all staff involved in the procurement process and to all types of
                  procurement.<br><br>
                  <b>THE PROCUREMENT COMMITTEE</b><br>
                  The Al Karrar Engineering Co procurement committee shall meet when there is a need to deliberate
                  on issues pertaining to procurement.<br><br>
                  The key terms of reference for the committee shall be to:<br>
                  i) Award tenders<br>
                  ii) Approve orders<br>
                  iii) Award contracts<br>
                  iv) Approve variation of contracts conditions
                  SEPARATION OF DUTIES<br><br>
                  There shall be the proper separation of duties between:<br>
                  i) The person who orders a particular purchase from a vendor.<br>
                  ii) The person who satisfies that the goods supplied are satisfactory.<br>
                  iii) The person who accepts goods into the store.<br>
                  iv) The person who authorizes payment.<br><br>
                  <b>PROCUREMENT PLANNING</b><br>
                  Procurement planning is part of the annual budgeting process. Each departmental head is responsible
                  for planning his/her project’s estimated procurement needs on an annual basis through the use of the
                  annual procurement plan (APP), which indicates the items to be bought in the various quarters of the
                  year. The procurement officer will use the APP to plan for requisitions. It is crucial that the
                  procurement
                  committee discuss the APP at the beginning of each year and as needs may arise within the year. The
                  APP will also require the final approval of the project coordinator, who will share it with the
                  executive
                  director for comments before approval.<br><br>
                  <b>PROCUREMENT REQUISITION (PR)</b><br>
                  Each specific procurement procedure process shall be initiated by procurement requisitions to the
                  procurement officer from the requesting department and should show detailed specifications and
                  requirements for the item(s) being requested. They should also indicate that the item is budgeted for.
                  The PRs allow the departments flexibility within the overall annual plans regarding specifications,
                  exact
                  quantities, delivery dates, etc. They are also used to cater for unplanned or emergency
                  procurement.<br><br>
                  The PR form will show the following:<br>
                  i) Items required.<br>
                  ii) Quantities.<br>
                  iii) Delivery dates and locations.<br>
                  iv) Accounting information.<br>
                  v) Whether procurement is within APP/budget or emergency or unplanned.<br>
                  vi) Signature of the preparing person.<br>
                  vii) The departmental head.<br><br>
                  Some donors do prescribe some conditions or restrictions required to be observed in the course of
                  procurement pertaining to the project they fund. It is the responsibility of the procurement committee
                  to ensure that such donor requirements and restrictions are observed in the procurement of goods and
                  services but within the framework of Al Karrar Engineering Co procurement guidelines.<br><br>
                  All requisitions must be signed by the departmental heads or designate, who should ensure that the
                  item(s) are in APP or should seek authority to procure as per policy. Any persons designated to
                  authorize requisitions in an acting capacity must have the authority given in writing clearly stating
                  the
                  period authorized.<br><br>
                  <b>CONTROLS ON PROCUREMENT</b><br>
                  Goods and services will only be procured within approved budgets except in case of emergencies,
                  which has to be approved by the executive director. Thus, in addition to being responsible for
                  preparing
                  the APP/budget, the departmental heads should ensure that actual procurement throughout the year
                  remains within the budget. Each requisition should reference the APP line bearing the item or
                  requisition and if needed, be attached to the page of the APP where the such line is
                  contained.<br><br>
                  The financial officer shall assist the procurement officer in conducting periodic checks on
                  procurement
                  activities to ensure that they conform to APPs, donor procurement requirements, and Al Karrar
                  Engineering Co policies and procedures.<br><br>
                  It is the responsibility of the person who signs the local purchase order (LPO) to verify that the
                  following
                  have been, done whether or not he/she actually collects the goods concerned.<br>
                  (i) That the correct quantity has been received and signed.<br>
                  (ii) That the quality and price of goods are as agreed.<br>
                  (iii) That all goods delivered have been securely and inventory records appropriately updated.<br>
                  (iv) That the delivery note is checked, signed, and forwarded to the financial officer to await the
                  invoice.<br><br>
                  Purchases under petty cash must not exceed the maximum amount established and documented by
                  the financial officer.<br><br>
                  Procurement staff and all members of the procurement committee will be required to sign a ‘conflict of
                  interest document stating that they will not purchase goods or services from a company they have a
                  vested interest.<br><br>
                  <b>THE PROCUREMENT PROCESS REPORT</b><br>
                  Upon receipt of requisitions, the procurement officer will first verify that the requisition is
                  properly
                  approved according to the signing authority. He/she will then enter the requisition details into the
                  procurement report worksheet. After this, he/she will begin the process of sourcing the goods.<br><br>
                  The procurement report worksheet is updated to reflect requisitions as they are received. It also
                  includes information on the status of each procurement requisition, complete with an expected delivery
                  date. This is to be submitted to the projects department on a monthly analysis.<br><br>
                  The procurement officer is required to present a monthly financial and narrative report on procurement
                  to the executive director, through the administrative assistant and a copy is forwarded to the
                  financial
                  officer.<br><br>
                  <b>VENDOR SELECTION</b><br>
                  Careful selection of vendors should be done to ensure that the best possible price, quality and
                  delivery
                  time available within the markets is obtained. A list of suitable vendors (the list of pre-qualified
                  vendors), for each type of goods and services based on letters of introduction and past performance,
                  shall be maintained. This will make the process of vendor identification much faster. The vendor list
                  shall be reviewed and updated periodically to ensure that current known factors are taken into
                  consideration.<br><br>
                  Once the previous year’s list of vendors has been updated and approved by the procurement
                  committee, procurement of goods and services can be affected. Vendor selection for inclusion on the
                  list of pre-qualified vendors will take place once per year and will be done by the procurement
                  committee.<br><br>
                  <b>VENDOR SELECTION CRITERIA</b><br>
                  The following set of criteria is essential for deciding on the choice of vendors:<br>
                  (i) Price<br>
                  (ii) Quality of goods/services. Such a justification must be verifiable.<br>
                  (iii) Availability of goods/services within the required delivery time.<br>
                  (iv) After sale services, including the availability of parts/supplies.<br>
                  (v) Bidder’s previous records of performance and service.<br>
                  (vi) Ability of bidder to render satisfactory service in this instance.<br>
                  (vii) Financial stability of the vendor.<br>
                  (viii) Availability of bidder’s representatives to call upon and consult with<br>
                  (ix) Payment terms<br>
                  (x) Warranty offered.<br>
                  (xi) Ability to provide samples<br><br>
                  <b>PROCEDURE FOR TENDER</b><br>
                  The procurement office and the heads of the various departments may recommend potential vendors
                  but the selection of those invited will be left to the discretion of the procurement committee. The
                  procurement officer will send an invitation to tender to each supplier listed to be invited. The
                  vendors
                  will pick up tender documents at Al Karrar Engineering Co offices specifying the goods and details, or
                  any relevant information needed to get accurate bids. All suppliers must receive the same
                  information.<br><br>
                  <b>USE OF DEALERS AND SOLE SUPPLIERS</b><br>
                  In the interest of ensuring quality, reliability and timeliness, the procurement officer may establish
                  purchase agreements or contracts with main dealers of regularly purchased goods. Where possible
                  due to other factors, the procurement office will negotiate rates and discounts with the supplier or a
                  method to determine the price for invoice justification. These agreements and prices (net of
                  discounts)
                  should be reviewed annually to ensure that they are competitive.<br><br>
                  <b>LOCAL PURCHASE ORDERS (LPO) WITH VENDORS</b><br>
                  The LPO is a contract with vendors that should include all information regarding the goods and
                  services being procured as well as standard terms of delivery, payment and arbitration in case of a
                  dispute. If contracts are precise and clear, the possibilities of disputes will be reduced, and Al
                  Karrar
                  Engineering Co will stand a far greater chance of receiving the goods and services as expected. Upon
                  selection of a vendor, a legally binding contract or work order should be drawn up for the goods and
                  services in question and signed by both parties prior to procurement. Detailed specifications:<br>
                  quantities, unit prices, delivery deadlines, locations, and payment schedules must be specified in
                  such
                  contracts.<br><br>
                  <b>ORDER FOR RECURRING REQUISITION</b><br>
                  Procurement of a recurrent nature, i.e., where the same goods and services may be issued several
                  times a year, one vendor may be selected for a period of up to one year. In some cases, particularly
                  for services, contracts for the goods or services can be drawn up once, which may then be referenced
                  every time those goods or services are required without requiring separate quotations and contracts
                  on each occasion. In other cases, particularly for regularly purchased goods, vendors can be selected
                  once, but separate contracts are drawn-up on each occasion the vendors are used.<br><br>
                  <b>CERTIFYING DELIVERY OF GOODS AND SERVICES</b><br>
                  The procurement process cannot be completed without certification that the goods and services
                  procured have been received entirely to Al Karrar Engineering Company’s satisfaction, in particular,
                  to the satisfaction of the requisition. The procedure for receiving goods and services is therefore
                  important in ensuring that vendors have entirely met their obligations. Once Al Karrar Engineering Co
                  has certified that goods and services have been received to their satisfaction, it has little further
                  resources to complain about a vendor’s performance, and payment can then be made.<br><br>
                  In all cases, the certification of receipts of goods and services is a pre-requisite to Al Karrar
                  Engineering
                  Co and the following guidelines are essential for that purpose.<br><br>
                  (i) The procurement office should ensure that goods and services are checked against contracts,
                  waybills, invoices, or delivery notes.<br>
                  (ii) Requisition department at the time of delivery will facilitate the receiving and checking of
                  goods
                  and services whereby the receiving person will have to sign the delivery notes or any other
                  documents during delivery.<br>
                  (iii) Physical checking should be done by the requisitioning department and not by the procurement
                  office.<br>
                  (iv) In some cases, receiving of goods and physical checking of goods or services may be
                  delegated to other [name of organization] officers who are so authorized by the procurement
                  officer. Such might include cases where goods or services are delivered directly to a project
                  field location; or where a specialist’s technical certification is required.<br>
                  (v) Any differences between documents done and physical checks should be noted and reported
                  to the procurement officer for action.<br><br>
                  <b>PAYMENT-PROCESSING PROCEDURE</b><br>
                  The recipient department is responsible for preparing payment requisition which then is forwards to
                  the procurement office for checking and certifying. The document is then sent to the finance
                  department for further checking and necessary approval and authority to pay. All payments must be
                  made in accordance with the contractual terms between the vendor and Al Karrar Engineering Co and
                  in reference to the financial policies.<br><br>
                  <b>2. PROCUREMENT OF SERVICES</b><br>
                  <b>APPOINTING AND PAYING CONSULTANTS</b><br>
                  Consultants’ services shall be sought for:<br>
                  (i) A job for which the required technical expertise does not exist in-house at Al Karrar
                  Engineering Co<br>
                  (ii) A job that is not ongoing and hence does not require full-time staff.<br>
                  (iii) A job that does not require more than 6 months of continuous engagement.<br>
                  The following procedure shall be observed for engaging the services of a consultant at Al Karrar
                  Engineering Co.<br>
                  (i) The decision to hire the services of a consultant shall be taken by the<br>
                  (ii) executive director in liaison with the heads of the various departments in consultation with the
                  board of directors.<br>
                  (iii) The executive director shall send an invitation to the specific appropriate consultant(s)
                  requesting for proposal for the consultancy by a stated date.<br>
                  (iv) The proposals received shall be reviewed by a panel composed of the various heads of
                  department and the ensuing recommended name shall be submitted to the executive director
                  who shall discuss it with the Al Karrar Engineering Co-executive committee.<br>
                  (v) The terms of reference for the consultancy shall be mutually agreed upon and the financial
                  officer shall be involved in the negotiation of financial aspects of the terms.<br>
                  (vi) The contract agreement shall be signed by both parties before the commencement of the
                  consultancy assignment.<br>
                  (vii) Payment is conditional on satisfactory completion of the whole job unless the agreement
                  provides for instalments at the completion of specifically agreed components/tasks.<br><br>
                  <b>APPOINTING AND PAYING TEMPORARY STAFF</b><br>
                  Temporary staff include locum, short-term project staff engaged for on-off tasks. The following
                  procedure shall be observed for engaging the services of temporary staff.<br><br>
                  (i) The temporary staff is engaged by the executive director in liaison with the department in need
                  of the staff and the financial officer.<br>
                  (ii) The letter of engagement is issued by the executive director stating the temporary status of
                  the employment and the agreed terms.<br>
                  (iii) A temporary staff is expected to comply with all the policies of Al Karrar Engineering Co while
                  in the service of Al Karrar Engineering Co<br>
                  (iv) Payment shall be made at the end of the month along with the payroll of the regular
                  staff.<br><br>
                  <b>APPOINTING AND PAYING CASUAL WORKERS</b><br>
                  Casual workers will be those engaged in project work especially manual work, for one to several days.
                  The following procedure shall be observed for engaging the services of casual workers:<br><br>
                  (i) The casual workers are engaged by the heads of departments upon the approval of the
                  executive director.<br>
                  (ii) A list of casual workers (name and identity numbers) shall be maintained by the head of the
                  department stating the terms of reference for the casual worker.<br>
                  (iii) The letter of authority for the engagement of casual workers shall be issued by the executive
                  director to the head of the department, stating the terms of reference for the casual workers.<br>
                  (iv) Casual workers are expected to comply with all the policies of Al Karrar Engineering Co while
                  at their service.<br>
                  (v) Payment shall be made on a daily or weekly basis.<br>
                </p>
              </div><!-- End post content -->
            </article><!-- End blog post -->
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">All Policies</h3>
                <div class="mt-3">
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/13QPePlAYukBckA5mumRYdcxS5pCNu7XH=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="1.html">Commitment Statement</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item mt-3">
                    <img src="https://lh3.google.com/u/0/d/1DfvlgzLFXQpKELUhPElLHyTgyYtJ8f_c=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="2.html">Employee Code of Conduct</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/19BwSCU0h1P2eAsGA6A3H1aLNbCQBJsvU=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="3.html">Environmental</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1zs2wm5jpGt7LPr6S328LQ2gIIau2q1Fk=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="4.html">HSE Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1PNKpPPz2UlTAcs7O0H9RsDqnhrDZsiyk=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="5.html">Smoking Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/12bKJzJzCKhctHJUeQH_MzfzkjQpmuobo=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="6.html">Substance Abuse Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/129WxE_IjX9OFRjXdZs0zIZnQaNB0sOua=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="7.html">Drug Alcohol Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1HB7kJoFRo3D5qLtVCE6-nnXwYCtrB8B7=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="8.html">Safe Driving Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1gdqfZ7wR0U-_F4nrxHRYUOTPeZDJeL8R=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="9.html">Business Travel Expense Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/12ccRMUNL1AmjT493p4Fp0e6xf5iqUs7R=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="10.html">Accounting Policies Procedures Manual</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1HmLuAh-q1nkIF-Dg9150wzYz0uzQ_D5x=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="11.html">Anti Bribery Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1c7HWEkCaqs0NtmaS17cqasWi6XQADFCf=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="12.html">Anti Money Laundering Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1iohYTspJ2j3in6PaiK4FaNj1OnsiE51A=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="13.html">Whistle Blowing Policy Abstract</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1Pm-eQnaPhHoNSgmU8ChyN13_Ya-ELu1y=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="14.html">Whistle Blowing Policy Description</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1fUGUSVJTCTcRIf3unLG43ePQ5581ZuHS=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="15.html">Procurement Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1RdVNCTub1hOxNVmVa5lKMmglFs7U7pjo=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="16.html">Quality Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                </div>
              </div><!-- End sidebar recent posts-->
            </div><!-- End Blog Sidebar -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Al-Karrar Engineering</h3>
            </div>
          </div><!-- End footer info column-->
          <div class="col-lg-2 col-md-6">
            <p>Iraq Basra, North Rumaila</p>
          </div>
          <div class="col-lg-2 col-md-6">
            <p><strong>Phone:</strong> +964 783 441 0344</p>
          </div>
          <div class="col-lg-2 col-md-6">
            <p><strong>Email:</strong> info@alkarrareng.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Al-Karrar Engineering</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://t.me/ssssys">Ali walaa</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>