<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Al-Karrar Engineering Company - Blog Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://lh3.google.com/u/0/d/1iRAbl_0gytmDgimzRhm16i-o8ypmxLdA=w958-h911-iv1" rel="icon">
  <link href="https://lh3.google.com/u/0/d/1iRAbl_0gytmDgimzRhm16i-o8ypmxLdA=w958-h911-iv1" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/img/logo.png" alt=""> -->
        <h1>Al-Karrar Engineering<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center"
      style="background-image: url('https://lh3.google.com/u/0/d/1Cs5yIDaNV-svpPEGtpzgM4KiCC02s5Ja=w1920-h937-iv1');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Employee Code of Conduct</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Employee Code of Conduct</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8">

            <article class="blog-details">

              <div class="post-img">
                <iframe src="https://drive.google.com/file/d/14PPU1m0njYGN0WqYbmZo1NaH4XAzrCQt/preview" width="100%"
                  height="480" allow="autoplay"></iframe>
              </div>
              <h2 class="title text-center">AL KARRAR ENGINEERING COMPANY FOR GENERAL CONTRACTING LIMITED</h2>
              <h4 class="text-center">EMPLOYEE CODE OF CONDUCT</h4>
              <div class="content">
                <h6>AL KARRAR EMPLOYEE CODE OF CONDUCT</h6>
                <p><b>1. WHO MUST COMPLY WITH THIS CODE OF CONDUCT</b><br>
                  Everyone at all levels of Al Karrar Engineering Company for General Contracting (“Al Karrar” or
                  the “Company”) has an obligation to know and follow this Code of Conduct (the “Code”), including<br>
                  • All members of the Al Karrar Management Team.<br>
                  • All employees and officers of the Al Karrar Company.<br>
                  In addition to governing conduct by employees, this Code governs conduct between employees
                  and customers, competitors, and the numerous business providers (including suppliers, service
                  providers, vendors, contractors, and agents) who assist Al Karrar every day.<br>
                  If you are a manager or supervisor, you are responsible for leading by example and making sure
                  your employees understand and comply with the Code.<br>
                  <b>2. CONFLICT OF INTEREST</b><br>
                  Employees are expected to remain loyal to Al Karrar and avoid conflicts of interest. Generally, a
                  conflict of interest occurs when a person or family interest interferes with our ability to perform
                  our
                  jobs effectively and objectively.<br>
                  <b>YOUR RESPONSIBILITIES</b><br>
                  All conflicts of interest, including potential conflicts of interest, must be disclosed to your
                  manager. You must comply with this Code as well as any local conflict of interest policies that
                  apply to your role, which may be more restrictive than this corporate policy.<br>
                  Any outside employment, business ventures, or financial activities cannot interfere with the
                  performance of your duties to Al Karrar.<br>
                  In avoiding conflicts of interest, you must comply with the following principles:<br>
                  • Do not hold a financial interest in or accept employment from an entity doing business with Al
                  Karrar if it would or could conflict with the performance of your duties at Al Karrar.<br>
                  • Do not take any business-related action for your personal benefit.<br>
                  • Do not use Al Karrar equipment and resources for personal use.<br>
                  • Protect Company assets as if they were your own.<br>
                  • Do not take for yourself any opportunities that are discovered or advanced through the use of
                  your position with Al Karrar or any of Al Karrar’s property or information.<br>
                  • No family member should report directly to another family member.<br>
                  • Do not facilitate a conflict with one of our suppliers, service providers, customers, or any<br>
                  government official, for example, by making a payment to an individual when you know the
                  funds should go to his employer.<br>
                  <b>DISCLOSING AND ADDRESSING POTENTIAL CONFLICTS OF INTEREST</b><br>
                  Al Karrar requires that you disclose, in writing, any person, business, or other relationship that
                  might constitute a conflict of interest or could potentially create a conflict of interest. Our policy
                  is
                  one of disclosure and review of potential conflicts and prohibition of actual conflicts of
                  interest.<br> In
                  some cases, disclosure may be all that is required.<br>
                  <b>FINANCIAL CONFLICTS OF INTEREST</b><br>
                  • Having a financial or management interest (as an employee, officer, or director) in any
                  customer, supplier, service provider, competitor, or any enterprise that you know or
                  reasonably believe has or may have a business relationship with Al Karrar.<br>
                  • Engaging in business with, or as a customer, service provider, or supplier of, Al Karrar, other
                  than in the ordinary course, as an employee or a public consumer.<br>
                  • Competing with Al Karrar.<br>
                  • Maintaining concurrent employment with Al Karrar and with any other organization.<br>
                  • Arranging or facilitating any business transaction between any of your relatives and Al Karrar
                  or between any of your relatives and any customer, supplier, service provider, or competitor
                  of Al Karrar.<br>
                  3. SAFETY<br>
                  Safety is one of our core values at Al Karrar and that includes providing a safe and secure work
                  environment. Maintaining a safe working environment is of the utmost importance and is
                  everyone’s responsibility.<br>
                  <b>YOUR RESPONSIBILITIES</b><br>
                  • All employees must familiarize themselves and comply with Al Karrar’ s posted safety rules
                  and directives.<br>
                  • Do not undertake work you are not qualified to perform.<br>
                  • Observe all safety rules and procedures when operating machinery and equipment.<br>
                  • Always wear our approved personal protective equipment (PPE) whenever required.<br>
                  • Immediately report workplace accidents, injuries, illnesses, and unsafe conditions to your<br>
                  supervisor to ensure prompt medical attention (if necessary), help prevent future incidents,
                  and ensure timely regulatory reporting (if required).<br>
                  • Report all non-work-related injuries and illnesses that may affect the safe performance of
                  your job prior to performing any work<br>
                  • Communicate our safety and health requirements to anyone coming onto Al Karrar property,
                  including visitors, customers, suppliers, service providers and workers.<br>
                  <b>4. FRAUD, DISHONESTY OR CRIMINAL CONDUCT</b><br>
                  Al Karrar does not permit fraud, dishonesty, or criminal conduct. We value ethics and integrity
                  and will not tolerate fraud, dishonesty, or criminal conduct.<br>
                  <b>YOUR RESPONSIBILITIES</b><br>
                  • We place a great deal of trust and confidence in our employees. In return, we expect you to
                  act ethically and honestly in everything you do. Any use of fraudulent or illegal tactics
                  violates that trust and carries potentially severe consequences, including discipline, up to
                  and including termination.<br>
                  • Al Karrar prohibits fraud or dishonesty in connection with Company business, including
                  taking unfair advantage of anyone through manipulation, concealment, abuse of privileged
                  information, misrepresentation of material facts, or any other unfair dealing practice, criminal
                  conduct, or any violent activity on Company premises or while performing work for the
                  Company.<br>
                  • If any fraud, dishonesty, or criminal conduct is detected or suspected of any employee or
                  anyone doing business with the Company, such activities should be reported to the
                  Management Team.<br>
                  <b>5. SAFEGUARDING CONFIDENTIAL INFORMATION</b><br>
                  Information is one of our most valuable assets. Business records, customer information, financial
                  information, and intellectual property are Company assets that are essential to our operations.<br>
                  This information is not available to the public and includes sensitive business information
                  (customer, supplier, service provider and financial information) which has been entrusted to us.<br>
                  We all are responsible for keeping this information confidential.<br>
                  <b>YOUR RESPONSIBILITIES</b><br>
                  • You may not use any information belonging to Al Karrar for your own personal gain.<br>
                  Confidential information may only be shared with Al Karrar employees, officers, and
                  directors who need the information in order to do their job.<br>
                  • Any unauthorized disclosure of confidential information, whether unintentional or not, must
                  be reported immediately to the Management Team.<br>
                  <b> 6. EMPLOYMENT PRACTICES</b><br>
                  At Al Karrar, our employees are individuals with different abilities, backgrounds, and experiences.
                  We believe that every employee should have the opportunity to fully contribute, and the Company
                  forbids employment discrimination or harassment based on race, color, sex, national origin,
                  religion, age, disability, genetic information, veteran status, sexual orientation, marital status, or
                  any other characteristic protected by applicable law.<br>
                  <b>YOUR RESPONSIBILITIES</b><br>
                  • Al Karrar employees must treat each other with respect and dignity.<br>
                  • Value the contributions of others as Al Karrar does and listen to their viewpoints.<br>
                  • Maintain fairness in all relationships.<br>
                  • Never discriminate against anyone — including fellow employees, customers, suppliers,
                  service providers, partners, or any other person.<br>
                  • All employees who believe that discrimination or harassment has occurred should report the
                  incident, even if they are not the target of such discrimination or harassment.<br>
                  <b>7. Employee Acceptance Certificate</b><br>
                  An employee acceptance certificate is attached to this procedure in Annexure-A. This
                  certificate will be signed by all employees at the time of hiring, it indicates that the hired
                  individual reviewed and accepted Employee Code of Conduct & company’s all policies
                  including with Anti-Bribery, Traveling, Quality & HSE.
                </p>
              </div><!-- End post content -->
            </article><!-- End blog post -->
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">All Policies</h3>
                <div class="mt-3">
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/13QPePlAYukBckA5mumRYdcxS5pCNu7XH=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="1.html">Commitment Statement</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item mt-3">
                    <img src="https://lh3.google.com/u/0/d/1DfvlgzLFXQpKELUhPElLHyTgyYtJ8f_c=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="2.html">Employee Code of Conduct</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/19BwSCU0h1P2eAsGA6A3H1aLNbCQBJsvU=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="3.html">Environmental</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1zs2wm5jpGt7LPr6S328LQ2gIIau2q1Fk=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="4.html">HSE Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1PNKpPPz2UlTAcs7O0H9RsDqnhrDZsiyk=w1365-h937-iv1" alt="">
                    <div>
                      <h4><a href="5.html">Smoking Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/12bKJzJzCKhctHJUeQH_MzfzkjQpmuobo=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="6.html">Substance Abuse Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/129WxE_IjX9OFRjXdZs0zIZnQaNB0sOua=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="7.html">Drug Alcohol Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1HB7kJoFRo3D5qLtVCE6-nnXwYCtrB8B7=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="8.html">Safe Driving Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1gdqfZ7wR0U-_F4nrxHRYUOTPeZDJeL8R=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="9.html">Business Travel Expense Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/12ccRMUNL1AmjT493p4Fp0e6xf5iqUs7R=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="10.html">Accounting Policies Procedures Manual</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1HmLuAh-q1nkIF-Dg9150wzYz0uzQ_D5x=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="11.html">Anti Bribery Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1c7HWEkCaqs0NtmaS17cqasWi6XQADFCf=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="12.html">Anti Money Laundering Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1iohYTspJ2j3in6PaiK4FaNj1OnsiE51A=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="13.html">Whistle Blowing Policy Abstract</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1Pm-eQnaPhHoNSgmU8ChyN13_Ya-ELu1y=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="14.html">Whistle Blowing Policy Description</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1fUGUSVJTCTcRIf3unLG43ePQ5581ZuHS=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="15.html">Procurement Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                  <div class="post-item">
                    <img src="https://lh3.google.com/u/0/d/1RdVNCTub1hOxNVmVa5lKMmglFs7U7pjo=w403-h927-iv1" alt="">
                    <div>
                      <h4><a href="16.html">Quality Policy</a></h4>
                    </div>
                  </div><!-- End recent post item-->
                </div>
              </div><!-- End sidebar recent posts-->
            </div><!-- End Blog Sidebar -->
          </div>
        </div>
      </div>
    </section><!-- End Blog Details Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Al-Karrar Engineering</h3>
            </div>
          </div><!-- End footer info column-->
          <div class="col-lg-2 col-md-6">
            <p>Iraq Basra, North Rumaila</p>
          </div>
          <div class="col-lg-2 col-md-6">
            <p><strong>Phone:</strong> +964 783 441 0344</p>
          </div>
          <div class="col-lg-2 col-md-6">
            <p><strong>Email:</strong> info@alkarrareng.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Al-Karrar Engineering</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://t.me/ssssys">Ali walaa</a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>